name: Docker Image CI

on:
  push:
    branches: ["main", "k6"]
  pull_request:
    branches: ["main", "k6"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        name: Checkout repository

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile
          context: .
          build-args: |
            VITE_API_URL=${{ secrets.VITE_API_URL }}
          push: true
          tags: cuococarlos/cta_frontend_2025_grupo_1:latest
